# Baskerville Tier 2 HPC
# 1. Paths
CUDA_PATH       /bask/apps/live/EL8-ice/software/CUDA/11.7.0
FFTW2_PATH      
FFTW3_PATH      /bask/apps/live/EL8-ice/software/FFTW/3.3.10-NVHPC-22.7-CUDA-11.7.0
MPI_PATH        /bask/apps/live/EL8-ice/software/OpenMPI/4.1.4-GCC-11.3.0
HDF5_PATH       /bask/apps/live/EL8-ice/software/HDF5/1.12.2-gompi-2022a
GRACKLE_PATH    
GSL_PATH        /bask/apps/live/EL8-ice/software/GSL/2.7-GCC-11.3.0
LIBYT_PATH      

# 2. Compiler type
CXX     g++
CXX_MPI mpicxx                  # MPI compiler (The MPI_PATH/bin/ will be combined automatically)

# 3. Compiler flags (intel)
CXXFLAG -g -O3 -w1

OPENMPFLAG -fopenmp

LIBFLAG -limf

NVCCFLAG_COM -O3
#NVCCFLAG -ccbin YOUR_HOST_COMPILER
#NVCCFLAG -ccbin CC
#NVCCFLAG_COM -use_fast_math
NVCCFLAG_FLU -Xptxas -dlcm=ca -prec-div=false -ftz=true
NVCCFLAG_POT -Xptxas -dlcm=ca

# 4. Set the GPU Compute Capability
# GPU_COMPUTE_CAPABILITY = major_verison*100 + minor_version*10
# (e.g. GeForce RTX 4090 has GPU_COMPUTE_CAPABILITY 890 (8*100 + 9*10))
# You can also set it to -1 to determine the value automatically using `get_gpu_compute_capability()` in `configure.py`.
# References: https://developer.nvidia.com/cuda-gpus
#             https://en.wikipedia.org/wiki/CUDA#GPUs_supported
GPU_COMPUTE_CAPABILITY -1
