# BlueBEAR HPC
# 1. Paths
CUDA_PATH       ${EBROOTCUDA}
FFTW2_PATH      
FFTW3_PATH      ${EBROOTFFTW}
MPI_PATH        ${EBROOTOPENMPI}
HDF5_PATH       ${EBROOTHDF5}
GRACKLE_PATH    
GSL_PATH        ${EBROOTGSL}
LIBYT_PATH      

# 2. Compiler type
CXX     g++
CXX_MPI mpicxx                  # MPI compiler (The MPI_PATH/bin/ will be combined automatically)

# 3. Compiler flags (intel)
CXXFLAG -g
CXXFLAG -O3
CXXFLAG -Wall
CXXFLAG -Wextra
CXXFLAG -Wno-unused-variable
CXXFLAG -Wno-unused-parameter
CXXFLAG -Wno-maybe-uninitialized
CXXFLAG -Wno-unused-but-set-variable
CXXFLAG -Wno-unused-result
CXXFLAG -Wno-unused-function
CXXFLAG -Wno-implicit-fallthrough
CXXFLAG -Wno-parentheses
CXXFLAG -Wno-unknown-pragmas

OPENMPFLAG -fopenmp

LIBFLAG

NVCCFLAG_COM -O3
#NVCCFLAG -ccbin YOUR_HOST_COMPILER
#NVCCFLAG -ccbin CC
#NVCCFLAG_COM -use_fast_math
NVCCFLAG_FLU -Xptxas -dlcm=ca -prec-div=false -ftz=true
NVCCFLAG_POT -Xptxas -dlcm=ca

# 4. Set the GPU Compute Capability
# GPU_COMPUTE_CAPABILITY = major_verison*100 + minor_version*10
# (e.g. GeForce RTX 4090 has GPU_COMPUTE_CAPABILITY 890 (8*100 + 9*10))
# You can also set it to -1 to determine the value automatically using `get_gpu_compute_capability()` in `configure.py`.
# References: https://developer.nvidia.com/cuda-gpus
#             https://en.wikipedia.org/wiki/CUDA#GPUs_supported
GPU_COMPUTE_CAPABILITY -1
